{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .my-grid{
        
    }
    .my-grid-item{
        
    }
</style>
<div class="containern">
<div class="my-grid d-flex flex-row ">
    <p class="my-grid-item m-auto">Item</p>
    <p class="my-grid-item m-auto">Item</p>
    <p class="my-grid-item m-auto">Item</p>
    <p class="my-grid-item m-auto">Item</p>
    <p class="my-grid-item m-auto">Item</p>
    <p class="my-grid-item m-auto">Item</p>

</div>

</div>

{% endblock content %}